/* style our le grand contenaire */
div.big
{
    margin-top: 80px;
    border-style:solid;
    border-radius: 20px;
    border-color: rgb(91, 26, 151);
    display: flex;
    justify-content:space-around;
    height: 400px;
}
/* }
style pour le contenaire a droite */
div#d
{
text-align: center;
width: 40%;
font-size: x-large;
border-width: 1mm;
border-radius: 20px;
border-color: black;
border-style: solid;
margin-top: 20px;
margin-bottom: 20px;
padding-top: 25px;
}

/* }
style pour le contenaire a gauche */

div#g
{
text-align: center;    
border-radius: 20px;
font-size:x-large;
width: 40%;
border-color: black;
border-width: 1mm;
border-style: solid;
margin-top: 20px;
margin-bottom: 20px;
padding-top: 25px;


}


div.elem {
    text-align: center;    
    font-size: x-large;
    padding-top: 25px;
    padding-bottom: 25px;
    height:fit-content;
    margin-top: 50px;
    border-style:solid;
    border-radius: 20px;
    border-color: rgb(91, 26, 151);
    padding-right: 90px;
    padding-left: 90px;
}
